/*font size*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
/*common part*/
body {
  font-family: "Poppins", sans-serif;
}
.main {
  display: flex;
  justify-content: center;
}
.container {
  width: 1440px;
  height: 3750px;
  background-color: #ffffff;
}
/*banner part*/
.banner-part {
  display: flex;
  background-color: #2d25a0;
}
/*title height width fix*/
.title {
  font-size: 64px;
  width: 487px;
  height: 291px;
  color: #ffffff;
}
/*title font*/
.title-part {
  line-height: 80px;
  margin-left: 113px;
  margin-top: 116px;
}
/*anchor design*/
.a-tag {
  text-decoration: none;
}
.a-tag p,
.a-tag i {
  display: inline;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #e02c6d;
  padding: 10px;
  margin-top: 27px;
}

/*banner pic*/
.title-picture img {
  width: 557px;
  height: 438px;
  margin-top: 147px;
  margin-left: 130px;
}
.player img {
  width: 300px;
  height: 256px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.player {
  width: 300px;
  height: 456px;
  box-shadow: 0px 0px 40px gray;
  background-color: white;
  padding: 15px;
  border: 8px solid white;
  margin: 10px;
}
